<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .wrapper {
            margin: 5px;
            background-color: white;
            padding: 15px;
            border-radius: 7px;
            width: 100%;
        }

        .content {
            width: 100%;
            background-color: lightgray;
            border-radius: 7px;
            width: 100%;
            padding: 7px;
        }

        .side {
            margin-left: 10px;
        }

        .container {
            margin-top: 90px;
        }
    </style>
    {#    bootstrap4#}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% block extra_header %}{% endblock %}
</head>
<body>

<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">{% if user.is_authenticated %}
            {{ user.get_username }}
        {% endif %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Portfolio:logout' %}">Logout <span
                                class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Portfolio:register' %}">Register <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Portfolio:login' %}">Login <span
                                class="sr-only">(current)</span></a>
                    </li>

                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for error in form.errors.values %}
                <strong>{{ error }}</strong>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12 content side">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script type="application/javascript">
    $('input').addClass('form-control')
    $('textarea').addClass('form-control')
    $('select').addClass('custom-select')
    $('input[type=file]').removeClass('form-control')
    $('input[type=checkbox]').removeClass('form-control')
    $('input[type=checkbox]').addClass('form-check-input')
</script>
{% block extra_js %}
{% endblock %}
</body>
</html>