{% extends 'Portfolio/base.html' %}
{% block extra_header %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <style>
        h4 {
            margin-top: 30px;
        }
    </style>
{% endblock %}
{% block title %}
    {{ profile.user.get_full_name }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="wrapper">
                <img src="{{ profile.image.url }}" width="100%">
            </div>
        </div>
        <div class="col-8">
            <div class="wrapper">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <h1>
                            <strong>
                                {{ profile.user.get_full_name }}
                            </strong>
                        </h1>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <h3>
                            <strong style="letter-spacing: 4px;">
                                {{ profile.title }}
                            </strong>
                        </h3>
                    </div>
                </div>
                <div class="form-row">
                    <h4>
                        CONTACT
                        {% if show_control_box %}
                            <a href="#" class="btn btn-sm btn-success"><i class="fas fa-pen"></i></a>
                        {% endif %}
                    </h4>
                    <div class="form-group col-md-12">
                        <strong>
                            <i class="fas fa-phone"></i>
                            MOBILE
                        </strong><br>
                        {{ profile.phone }}
                    </div>
                    <div class="form-group col-md-12">
                        <strong>
                            <i class="fas fa-map-marker-alt"></i>
                            ADDRESS
                        </strong><br>
                        {{ profile.address }},&nbsp;{{ profile.city }},&nbsp;{{ profile.country }}
                    </div>
                    <div class="form-group col-md-12">
                        <strong>
                            <i class="fas fa-at"></i>
                            MAIL
                        </strong>
                        <br>
                        {{ profile.user.email }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-row">
                <div class="wrapper">
                    <h4>
                        EXPERIENCES
                        {% if show_control_box %}
                            <a href="{% url 'Portfolio:job_create' %}" class="btn btn-sm btn-success float-right"><i
                                    class="fas fa-plus"></i></a>
                        {% endif %}
                    </h4>
                    {% if jobs %}
                        {% for job in jobs %}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h6>
                                        <strong>
                                            {% if job.title %}
                                                {{ job.title }}
                                            {% endif %}
                                        </strong>
                                    </h6>
                                </div>
                                <div class="form-group col-md-12">
                                    <strong>
                                        {% if job.company %}
                                            {{ job.company }}
                                        {% endif %}
                                    </strong>
                                </div>
                                <div class="form-group col-md-12">
                                    {% if job.description %}
                                        <p>
                                            {{ job.description }}
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-12">
                                    <h6>
                                        {% if job.start_dte %}
                                            <span class="badge badge-secondary">
                                                {{ job.start_dte }}
                                            </span>
                                        {% endif %}
                                        {% if job.end_dte %}
                                            <span class="badge badge-secondary">
                                            {{ job.end_dte }}
                                            </span>
                                        {% else %}
                                            <span class="badge badge-secondary">
                                            currently work
                                            </span>
                                        {% endif %}
                                    </h6>
                                    {% if show_control_box %}
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a href="{% url 'Portfolio:job_update' job.pk %}"
                                               class="btn btn-sm btn-success"><i class="fas fa-pen"></i></a>
                                            <a href="{% url 'Portfolio:job_delete' job.pk %}"
                                               class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-row">
                <div class="wrapper">
                    <h4>
                        EDUCATION
                        {% if show_control_box %}
                            <a href="{% url 'Portfolio:education_create' %}" class="btn btn-sm btn-success float-right"><i
                                    class="fas fa-plus"></i></a>
                        {% endif %}
                    </h4>
                    {% if educations %}
                        {% for education in educations %}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h6>
                                        <strong>
                                            {% if education.title %}
                                                {{ education.title }}
                                            {% endif %}
                                        </strong>
                                    </h6>
                                </div>
                                <div class="form-group col-md-12">
                                    <strong>
                                        {% if education.university %}
                                            {{ education.university }}
                                        {% endif %}
                                    </strong>
                                </div>
                                <div class="form-group col-md-12">
                                    <h6>
                                        {% if education.grade %}
                                            <span class="badge badge-secondary">
                                        {{ education.grade }}
                                        </span>
                                        {% endif %}
                                        {% if education.degree %}
                                            <span class="badge badge-secondary">
                                            {{ education.get_degree_display }}
                                        </span>
                                        {% endif %}
                                        {% if education.from_dte %}
                                            <span class="badge badge-secondary">
                                            {{ education.from_dte }}
                                            </span>
                                        {% endif %}
                                        {% if education.to_dte %}
                                            <span class="badge badge-secondary">
                                            {{ education.to_dte }}
                                            </span>
                                        {% else %}
                                            <span class="badge badge-secondary">
                                            I'm not graduate
                                            </span>
                                        {% endif %}
                                    </h6>
                                    {% if show_control_box %}
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a href="{% url 'Portfolio:education_update' education.pk %}"
                                               class="btn btn-sm btn-success"><i class="fas fa-pen"></i></a>
                                            <a href="{% url 'Portfolio:education_delete' education.pk %}"
                                               class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="wrapper">
                    <h4>
                        LANGUAGES
                        {% if show_control_box %}
                            <a href="{% url 'Portfolio:language_create' %}"
                               class="btn btn-sm btn-success float-right"><i class="fas fa-plus"></i></a>
                        {% endif %}
                    </h4>
                    {% if languages %}
                        {% for language in languages %}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h6>
                                        <strong>
                                            {% if language.title %}
                                                {{ language.title }}
                                            {% endif %}
                                        </strong>
                                    </h6>
                                </div>
                                <div class="form-group col-md-12">
                                    {% if language.description %}
                                        {{ language.description }}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-12">
                                    <span class="badge badge-secondary">
                                        {% if language.level %}
                                            {{ language.level }}
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="form-group col-md-12">
                                    {% if show_control_box %}
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a href="{% url 'Portfolio:language_update' language.pk %}"
                                               class="btn btn-sm btn-success"><i class="fas fa-pen"></i></a>
                                            <a href="{% url 'Portfolio:language_delete' language.pk %}"
                                               class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-row">

                <div class="wrapper">
                    <h4>
                        SKILLS
                        {% if show_control_box %}
                            <a href="{% url 'Portfolio:skill_create' %}" class="btn btn-sm btn-success float-right"><i
                                    class="fas fa-plus"></i></a>
                        {% endif %}
                    </h4>
                    {% if skills %}
                        {% for skill in skills %}
                            <div class="col-md-12">
                                <h6>
                                    {% if skill.title %}
                                        <strong>
                                            {{ skill.title }}
                                        </strong>
                                    {% endif %}
                                </h6>
                                <div class="progress" style="height:10px">
                                    <div class="progress-bar bg-primary"
                                         style="width:{{ skill.point }}%">{{ skill.point }}%
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {% if skill.description %}
                                        <p>
                                            {{ skill.description }}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                {% if show_control_box %}
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a href="{% url 'Portfolio:skill_update' skill.pk %}"
                                           class="btn btn-sm btn-success"><i class="fas fa-pen"></i></a>
                                        <a href="{% url 'Portfolio:skill_delete' skill.pk %}"
                                           class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="wrapper">
                    <h4>
                        CERTIFICATE
                        {% if show_control_box %}
                            <a href="{% url 'Portfolio:certificate_create' %}"
                               class="btn btn-sm btn-success float-right"><i class="fas fa-plus"></i></a>
                        {% endif %}
                    </h4>
                    {% if certificates %}
                        {% for certificate in certificates %}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h6>
                                        <strong>
                                            {% if certificate.title %}
                                                {{ certificate.title }}
                                            {% endif %}
                                        </strong>
                                    </h6>
                                </div>
                                <div class="form-group col-md-12">
                                    <strong>
                                        {% if certificate.authorized_by %}
                                            {{ certificate.authorized_by }}
                                        {% endif %}
                                    </strong>
                                </div>
                                <div class="form-group col-md-12">
                                    {% if certificate.image %}
                                        <img src="{{ certificate.image.url }}" alt="certificate" width="90%">
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-12">
                                    {% if certificate.url %}
                                        <a href="{{ certificate.url }}" class="btn btn-info btn-sm float-right">more</a>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-12">
                                    <h6>
                                        {% if certificate.date %}
                                            <span class="badge badge-secondary">
                                            {{ certificate.date }}
                                            </span>
                                        {% endif %}
                                        {% if certificate.have_cert %}
                                            <span class="badge badge-success">
                                        <i class="fas fa-certificate"></i>
                                        Certificate
                                    </span>
                                        {% endif %}
                                    </h6>
                                </div>
                                <div class="form-group col-md-12">
                                    {% if show_control_box %}
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a href="{% url 'Portfolio:certificate_update' certificate.pk %}"
                                               class="btn btn-sm btn-success"><i class="fas fa-pen"></i></a>
                                            <a href="{% url 'Portfolio:certificate_delete' certificate.pk %}"
                                               class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}