<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        label {
            text-align: right;
        }

        .question, .side {
            border-radius: 10px;
            background-color: lightsalmon;
            margin: 10px;
            min-height: 150px;
            padding: 10px;
        }

        textarea {
            max-height: 40px;
        }

        .hide {
            display: none;
        }

        button {
            margin: 30px;
        }
        input,select{
            margin-top: 5px;
        }
    </style>
    {% block extra_header %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Qsnr_Per_V00</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script type="application/javascript">
    var inputs = $('input')
    var selects = $('select')
    var labels = $('label')
    var textareas = $('textarea')
    labels.addClass('col-6')
    inputs.addClass('form-control col-12')
    selects.addClass('custom-select col-12')
    textareas.addClass('form-control rounded-4')
</script>
{% block js %}
{% endblock %}
</body>
</html>