{% extends 'Agah/base.html' %}
{% block  extra_header %}
    <script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>

    <style>
        input {
            text-align: center;
        }

        input[type=radio] {
            margin: 10px;
        }
    </style>

{% endblock %}
{% block title %}
    فرزندان
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if Show %}
            <div class="question">
                <table class="table table-bordered table-hover table-responsive table-sm">
                    <thead>
                    <tr>
                        <th rowspan="2" scope="col">
                            فرزند شماره
                        </th>
                        <th rowspan="2">
                            جنسیت
                        </th>
                        <th rowspan="2">
                            سال تولد
                        </th>
                        <th rowspan="2">
                            میزان پول توجیبی هفتگی(تومان)
                        </th>
                        <th colspan="2">
                            بیشترین زمان در هفته
                        </th>
                        <th rowspan="2">
                            تعداد تغذیه
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">
                            بیشترین
                        </th>
                        <th scope="col">
                            دومین
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in forms %}
                        <tr>
                            {% for column in row %}
                                <td>
                                    {{ column }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div class="row" style="margin: 40px">
            <h4 style="margin: auto;">پرسشنامه اصلی</h4>
        </div>
        {% for item in q_forms %}
            <div class="question col-6">
                {{ item.as_p }}
            </div>
        {% endfor %}
        <div class="row">
            <button type="submit" class="btn btn-lg btn-success">مرحله بعد</button>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script type="application/javascript">
        $('.birthday').change(function () {
            birthday_change_event(this)
        });

        function birthday_change_event(user_input) {
            var user_input_value = parseInt($(user_input).val()) + 1300
            var year = moment().locale('fa').format('YYYY')
            var age = year - user_input_value
            var html_class = $(user_input).attr('class')[0]
            if (age >= 3 && age <= 12) {
                $('.' + html_class + '.option').prop('disabled', false)
            } else {
                $('.' + html_class + '.option').prop('disabled', true)
            }
        }

        $('input[type=radio]').addClass('form-check-input')
        $('label').addClass('form-check-label')
    </script>
{% endblock %}