{% extends 'Agah/base.html' %}
{% block title %}
    فرزندان
{% endblock %}
{% block content %}
    <div class="table-responsive col-11 question">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    فرزند شماره
                </th>
                <th>
                    جنسیت
                </th>
                <th>
                    سال تولد
                </th>
                <th>
                    میزان پول توجیبی هفتگی(تومان)
                </th>
                <th>
                    بیشترین زمان در هفته
                </th>
                <th>
                    تعداد تغذیه
                </th>
            </tr>
            </thead>
            <tbody>
            {% for row in forms %}
                <tr>
                    {% for column in row %}
                        <td>
                            {{ column }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
    <script type="application/javascript">
    </script>
{% endblock %}