{% extends 'Agah/base.html' %}
{% block title %}
    پرسشنامه اصلی
{% endblock %}
{% block content %}
    <form method="post">
        <div class="row">
            {% if Rest %}
                <div class="row">
                    <h4 style="margin: auto">سوالات بخش M</h4>
                </div>
                <div class="question">
                    <table class="table table-bordered table-hover table-responsive table-sm">
                        <thead>
                        <tr>
                            <th rowspan="2" width="60px">
                                #
                            </th>
                            <th rowspan="2">
                                دسته بندی محصولات
                            </th>
                            <th>
                                Q4
                            </th>
                            <th>
                                Q4a
                            </th>
                            <th>
                                Q5
                            </th>
                            <th>
                                Q6
                            </th>
                            <th>
                                Q7
                            </th>
                            <th>
                                Q8
                            </th>
                            <th>
                                Q9
                            </th>
                        </tr>
                        <tr>
                            <th>
                                ملکه ذهنی(اولین مارک)
                            </th>
                            <th>
                                آگاهی بدون کمک
                            </th>
                            <th>
                                آگاهی با کمک
                            </th>
                            <th>
                                برندهای استفاده شده اخیر
                            </th>
                            <th>
                                برند محبوب MPSA
                            </th>
                            <th>
                                چند وقت یکبار
                            </th>
                            <th>
                                بیشتر از کجا میخرید
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in Q_forms %}
                            <tr>
                                {% for column in row %}
                                    <td>
                                        {{ column }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <div class="col-5">

                <div class="question">
                    {{ M1_form }}
                </div>
                <div class="question">
                    {{ M2_form.as_p }}
                </div>
                <div class="question">
                    {{ M3_form.as_p }}
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-lg btn-success">مرحله بعد</button>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script type="application/javascript">
        $('input[type=radio]').addClass('form-check-input')
        $('label').addClass('form-check-label')
        $('select.11').prop('disabled', true)
    </script>
{% endblock %}