{% extends 'Agah/base.html' %}
{% block title %}
    پرسشنامه اصلی
{% endblock %}
{% block extra_header %}
    <style>
        input[type=checkbox] {
            margin-top: 8px;
            margin-right: -20px;
        }
    </style>
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            {% if Rest %}
                <div class="row">
                    <h4 style="margin: auto">سوالات بخش M</h4>
                </div>
                <div class="row">
                    {% for item in Q_questions %}
                        <div class="question">
                            {{ item }}
                        </div>
                    {% endfor %}
                </div>
                <div class="question">
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th rowspan="2" width="60px">
                                #
                            </th>
                            <th rowspan="2">
                                دسته بندی محصولات
                            </th>
                            <th>
                                Q4
                            </th>
                            <th>
                                Q4a
                            </th>
                            <th>
                                Q5
                            </th>
                            <th>
                                Q6
                            </th>
                            <th>
                                Q7
                            </th>
                            <th>
                                Q8
                            </th>
                            <th>
                                Q9
                            </th>
                        </tr>
                        <tr>
                            <th>
                                ملکه ذهنی(اولین مارک)
                            </th>
                            <th>
                                آگاهی بدون کمک
                            </th>
                            <th>
                                آگاهی با کمک
                            </th>
                            <th>
                                برندهای استفاده شده اخیر
                            </th>
                            <th>
                                برند محبوب MPSA
                            </th>
                            <th>
                                چند وقت یکبار
                            </th>
                            <th>
                                بیشتر از کجا میخرید
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in Q_forms %}
                            <tr>
                                {% for column in row %}
                                    <td>
                                        <div class="form-check">
                                            {{ column }}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <div class="col-5">
                <div class="question">
                    <p>
                        {{ M1.code }}&nbsp;{{ M1.title }}
                    </p>
                    <table class="table table-bordered table-hover table-responsive table-sm">
                        <thead>
                        <tr>
                            <th>
                                خامه فرادما ( صورتی)
                            </th>
                            <th>
                                خامه ساده پاستوریزه
                            </th>
                            <th>
                                مجموع
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for item in M1_form %}
                                <td onchange="sum()">
                                    {{ item }}
                                </td>
                            {% endfor %}
                            <td>
                                <input type="text" name="result">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% for item in M_forms %}
                    <div class="question">
                        {{ item }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-lg btn-success">مرحله بعد</button>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script type="application/javascript">
        $('input[type=radio]').addClass('form-check-input')
        $('label').addClass('form-check-label')
        $('select.11').prop('disabled', true)
        $('input[type=checkbox]').removeClass('form-control col-12').addClass('form-check-input')
        $('.form-check-label').removeClass('col-6')
        $('input[type=checkbox]').change(function () {
            if ($(this).val() == 0 && this.checked) {
                var name = $(this).attr('name')
                var class_html = $(this).attr('class')
                var id = $(this).attr('id')
                $(this).replaceWith('<input type="checkbox" name="' + name + '" value="0" class="' + class_html + '" id="' + id + '"><input class="form-control" required type="text" placeholder="سایر" name="' + name + '">')
            }
        })

        function sum() {
            var num_one = $('input[type=number][name=M1_form_1]').val()
            var num_two = $('input[type=number][name=M1_form_2]').val()
            var sum = parseInt(num_one) + parseInt(num_two)
            if (sum == 10) {
                $('input[type=text][name=result]').val('تایید')
                $('input[type=text][name=result]').addClass('text-success')
                $('input[type=text][name=result]').removeClass('text-danger')
            } else {
                $('input[type=text][name=result]').val('خطا')
                $('input[type=text][name=result]').addClass('text-danger')
                $('input[type=text][name=result]').removeClass('text-success')
            }
        }

        $('form').submit(function () {
            var num_one = parseInt($('input[type=number][name=M1_form_1]').val())
            var num_two = parseInt($('input[type=number][name=M1_form_2]').val())
            var sum = num_two + num_one
            if (sum != 10) {
                alert('مجموع خامه فرادما و خامه ساده مبایست 10 عدد باشد')
                var btn = $('button[type=submit]')
                btn.attr('disabled', false).text('مرحله بعد')
                return false
            }
            return true
        });
    </script>
{% endblock %}