{% extends 'Agah/base.html' %}
{% block title %}
    پرسشنامه اصلی
{% endblock %}
{% block content %}
    <form method="post">
        <div class="row">
            {% if Rest %}
                <div class="col-6">
                    <div class="row">
                        <h4 style="margin: auto">ادامه سوالات بخش Q</h4>
                    </div>
                    <div class="question">
                        {{ Q4_form }}
                    </div>
                    <div class="question">
                        {{ Q4a_form }}
                    </div>
                    <div class="question">
                        {{ Q5_form }}
                    </div>
                    <div class="question">
                        {{ Q6_form }}
                    </div>
                    <div class="question">
                        {{ Q7_form }}
                    </div>
                    <div class="question">
                        {{ Q8_form }}
                    </div>
                    <div class="question">
                        {{ Q9_form }}
                    </div>
                </div>
            {% endif %}
            <div class="col-6">
                <div class="row">
                    <h4 style="margin: auto">سوالات بخش M</h4>
                </div>
                <div class="question">
                    {{ M1_form }}
                </div>
                <div class="question">
                    {{ M2_form.as_p }}
                </div>
                <div class="question">
                    {{ M3_form.as_p }}
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-lg btn-success">مرحله بعد</button>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script type="application/javascript">
        $('input[type=radio]').addClass('form-check-input')
        $('label').addClass('form-check-label')
    </script>
{% endblock %}